// 預設顏色
$green:         $green-400;
$yellow:        $yellow-400;
$red:           $red-400;

$primary:       $brand-400;
$info:          $light-blue-400;
$light:         $brand-100;
$dark:          $brand-900;

// 字體
$font-family-base:        "Quattrocento Sans", -apple-system, "Helvetica Neue", "Segoe UI", Roboto, "Noto Sans", "Liberation Sans", Arial, "Noto Sans TC", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-family:    "Merriweather", -apple-system, "Helvetica Neue", "Segoe UI", Roboto, "Noto Sans", "Liberation Sans", Arial, "Noto Sans TC", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// 標題
$headings-font-weight:        800;
$headings-line-height:        1.2;
$h1-font-size:                2.25rem;
$h2-font-size:                1.5rem;
$h3-font-size:                1.25rem;
$h4-font-size:                1.75rem;
$h5-font-size:                1.375rem;
$h6-font-size:                1rem;

// 圓角
$border-radius-sm:            $border-radius-0;
$border-radius:               $border-radius-1;
$border-radius-lg:            $border-radius-2;
$border-radius-xl:            $border-radius-3;
$border-radius-xxl:           $border-radius-4;
$border-radius-xxxl:          $border-radius-5;
$border-radius-pill:          $border-radius-pill;

// 語意變數
$component-active-bg:         $background-brand-default;

// 導覽分頁
$nav-link-color:                    $text-default-default;
$nav-pills-border-radius:           $border-radius-pill;

//按鈕
$btn-border-radius:          $border-radius-pill;
$btn-border-radius-sm:       $border-radius-pill;
$btn-border-radius-lg:       $border-radius-pill;

$btn-padding-y:              0.625rem;
$btn-padding-x:              1.5em;
$btn-font-size:              0.875rem;
$btn-border-width:           0;

$btn-font-weight:      700; 
$btn-letter-spacing:   0.12em;  

.topnav{
  top: $component-navbar-height;
}

// 標章(Badge)
$badge-font-size:                   .85em;