$background-default-default: $gray-50;
$background-default-default-hover: $brand-100;
$background-default-secondary: $brand-50;
$background-default-secondary-hover: $gray-200;
$background-default-tertiary: $brand-100;
$background-default-tertiary-hover: $gray-400;
$background-brand-default: $brand-900;
$background-brand-hover: $brand-800;
$background-brand-secondary: $brand-100;
$background-brand-secondary-hover: $brand-700;
$background-positive-default: $green-500;
$background-positive-hover: $green-600;
$background-positive-secondary: $green-200;
$background-positive-secondary-hover: $green-300;
$background-positive-tertiary: $green-100;
$background-positive-tertiary-hover: $green-200;
$background-warning-default: $yellow-400;
$background-warning-hover: $yellow-500;
$background-warning-secondary: $yellow-200;
$background-warning-tertiary: $yellow-100;
$background-warning-tertiary-hover: $yellow-200;
$background-danger-default: $red-500;
$background-danger-hover: $red-600;
$background-danger-secondary: $red-200;
$background-danger-secondary-hover: $red-300;
$background-danger-tertiary: $red-100;
$background-danger-tertiary-hover: $red-200;
$background-disabled-default: $gray-300;
$background-utilities-scrim: #FFFFFFCC;
$background-utilities-blanket: #000000B2;
$background-utilities-overlay: #00000080;
$background-utilities-measurement: $pink-200;
$background-chart-bar: $brand-400;
$background-chart-background: $gray-50;
$text-default-default: $gray-900;
$text-default-secondary: $gray-600;
$text-default-tertiary: $gray-500;
$text-brand-default: $brand-800;
$text-brand-secondary: $brand-600;
$text-brand-tertiary: $brand-500;
$text-brand-on-brand: $brand-100;
$text-brand-on-brand-secondary: $brand-800;
$text-brand-on-brand-tertiary: $brand-700;
$text-positive-default: $green-800;
$text-positive-secondary: $green-600;
$text-positive-tertiary: $green-500;
$text-positive-on-positive: $green-100;
$text-positive-on-positive-secondary: $green-800;
$text-positive-on-positive-tertiary: $green-800;
$text-warning-default: $yellow-900;
$text-warning-secondary: $yellow-700;
$text-warning-tertiary: $yellow-600;
$text-warning-on-warning: $yellow-1000;
$text-warning-on-warning-secondary: $yellow-800;
$text-warning-on-warning-tertiary: $yellow-900;
$text-danger-default: $red-700;
$text-danger-secondary: $red-600;
$text-danger-tertiary: $red-500;
$text-danger-on-danger: $red-100;
$text-danger-on-danger-secondary: $red-700;
$text-danger-on-danger-tertiary: $red-700;
$text-disabled-default: $gray-400;
$text-button-default: $brand-600;
$text-button-hover: $brand-500;
$text-disabled-on-disabled: $gray-0;
$border-default-default: $gray-300;
$border-focus-ring-light: $gray-0;
$border-focus-ring-dark: $brand-800;
$border-default-secondary: $gray-600;
$border-default-tertiary: $gray-700;
$border-brand-default: $brand-800;
$border-brand-secondary: $brand-600;
$border-brand-tertiary: $brand-500;
$border-positive-default: $green-800;
$border-positive-secondary: $green-600;
$border-positive-tertiary: $green-500;
$border-warning-default: $yellow-900;
$border-warning-secondary: $yellow-700;
$border-warning-tertiary: $yellow-600;
$border-danger-default: $red-700;
$border-danger-secondary: $red-600;
$border-danger-tertiary: $red-500;
$border-disabled-default: $gray-400;
$border-utilities-swatch: #0000003D;
$icon-default-default: $gray-900;
$icon-default-secondary: $gray-500;
$icon-default-tertiary: $gray-400;
$icon-brand-default: $brand-800;
$icon-brand-secondary: $brand-600;
$icon-brand-on-brand: $brand-100;
$icon-brand-on-brand-secondary: $brand-900;
$icon-brand-on-brand-tertiary: $brand-800;
$icon-positive-default: $green-800;
$icon-positive-secondary: $green-600;
$icon-positive-tertiary: $green-500;
$icon-positive-on-positive: $green-100;
$icon-positive-on-positive-secondary: $green-800;
$icon-positive-on-positive-tertiary: $green-900;
$icon-warning-default: $yellow-900;
$icon-warning-secondary: $yellow-700;
$icon-warning-tertiary: $yellow-600;
$icon-warning-on-warning: $yellow-1000;
$icon-warning-on-warning-secondary: $yellow-800;
$icon-warning-on-warning-tertiary: $yellow-900;
$icon-danger-default: $red-700;
$icon-danger-secondary: $red-600;
$icon-danger-tertiary: $red-500;
$icon-danger-on-danger: $red-100;
$icon-danger-on-danger-secondary: $red-700;
$icon-danger-on-danger-tertiary: $red-700;
$icon-disabled-default: $gray-400;
$icon-disabled-on-disabled: $gray-0;