.badge {
  font-size: 0.875rem; // 14px
  font-weight: 600;    // 粗體
  padding: 0.35em 0.65em;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
