.custom-nav-pills {
  background-color: var(--background-default-tertiary);
  border: 1px solid var(--border-default-default);
  border-radius: 1000px;
  padding: 2px;
  height: 44px;
  flex-wrap: nowrap;
  display: flex;
  list-style: none;

  overflow-x: auto;  /* 或 overflow-y: auto，依你的滾動方向 */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .nav-item {
    flex: 1;
    &:not(:last-child) {
      .nav-link:not(.active) {
        border-right: 1px solid var(--border-disabled-default);
        border-radius: 0;
      }
    }
  }

  .nav-link {
    color: var(--text-default-default);
    font-size: 16px;
    height: 40px;
    padding: 0 16px;
    border-radius: 1000px;
    white-space: nowrap;
    transition: all 0.2s ease;
    font-family: var(--sds-typography-family-sans, "Noto Sans TC", sans-serif);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    &.active {
      background-color: var(--background-brand-hover);
      color: var(--text-brand-on-brand);
      font-weight: 700;
      letter-spacing: 0.32px;
      border-right: none !important;
    }

    &:hover:not(.active) {
      background-color: var(--background-default-secondary-hover);
    }
  }
}

.badge-sm {
  font-size: 14px;
  padding: 2px 8px;
  font-family: var(--family-number, "Inter", sans-serif);
  font-weight: 400;
  line-height: 1.4;
}
