@font-face {
  font-family: 'Noto Sans TC';  // 名稱和 Google Fonts 一樣
  src: local('Noto Sans TC');   // 指向本地或已載入的字體
  ascent-override: 81%;
  descent-override: 6%;
  line-gap-override: 0%;
  font-display: swap;
}